#creditos {
	font-size: 10px;
}

#h4error {
	color: red;
}

.botao {
	background: #449D44;
	border-color: #449D44;
	color: #FFFFFF;
	margin: 10px;
}

body {
	background: #000000;
	color: #FFFFFF;
}

h3 {
	color: #638C6D;
	padding-top: 1%;
}

.btn {
	background: #638C6D;
}

